<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<test verbose="2" preserve-order="true" name="C:/Users/rana/IdeaProjects/WalaOfferMobileAutomation">
<classes/>
</test>
</suite>


<suite name="Walaplus App Test Suite" verbose="1">
    <parameter name="browser" value="Android"/>
    
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>
    
    <test name="Smoke Tests" parallel="methods" thread-count="2">
        <classes>
            <class name="tests.SmokeTests"/>
        </classes>
    </test>
    
    <test name="Regression Tests">
        <packages>
            <package name="tests.regression"/>
        </packages>
    </test>
</suite>